@font-face {
    font-family: "Noot";
    src: url("./Noot/Noot.otf");
}
@font-face {
    font-family: "Bebas Neue";
    src: url(./Bebas_Neue/BebasNeue-Regular.ttf);
}

body{
    overflow: hidden;
}
.menu-text{
    color: white !important;
    text-decoration: none;
    border-radius: 30px !important;
    overflow: hidden;
}

.font-1rem{
    font-size: 1.3rem !important;
}

.font-2rem{
    font-size: 1.2rem !important;
}

.typeAnimal{
    max-height: 100px;
    max-width: 200px;
}

.w-65{
    width: 65%;
}

body{
    background-image: url('./bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}

.w-60{
    width: 60%;
}